In [1]:
import numpy as np
from datascience import *

letters = Table().with_column('Letter', make_array('a', 'b', 'c', 'd', 'e'))

In [10]:
students = Table().with_columns('Student_ID', [1, 2, 3],
                                 'Name', ['Alice', 'Bob', 'Carol'])

grades = Table().with_columns('ID', [1, 2, 3],  # Different name!
                               'Grade', ['A', 'B', 'A'])

# Join where Student_ID matches ID
result = students.drop('Name').join('Student_ID', grades, 'ID')

In [11]:
students

Student_ID | Name
1          | Alice
2          | Bob
3          | Carol

In [12]:
grades

ID   | Grade
1    | A
2    | B
3    | A

In [13]:
result

Student_ID | Grade
1          | A
2          | B
3          | A

In [14]:
letters = Table().with_column('Letter', make_array('a', 'b', 'c', 'd', 'e'))
letters

Letter
a
b
c
d
e

In [15]:
shuffled_letters = letters.sample(with_replacement = False).relabeled('Letter', 'shuff letters')
shuffled_letters

shuff letters
a
b
e
d
c

In [16]:
combined = letters.join('Letter', shuffled_letters, 'shuff letters')
combined

Letter
a
b
c
d
e