In [2]:
from datascience import *
import numpy as np
import matplotlib
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

In [5]:
chocolates = Table().with_columns('Color', make_array('dark','milk','white','dark','milk','milk'),
                                  'Shape', make_array('round', 'rectangular','rectangular','round','rectangular','round'),
                                   'Inventory',make_array(4,6,12,7,9,2),
                                    'Unit Price ($)',make_array(1.3,1.2,2,1.75,1.4,1),
                                  )
chocolates

Color | Shape       | Inventory | Unit Price ($)
dark  | round       | 4         | 1.3
milk  | rectangular | 6         | 1.2
white | rectangular | 12        | 2
dark  | round       | 7         | 1.75
milk  | rectangular | 9         | 1.4
milk  | round       | 2         | 1

In [5]:
chocolates.group('Shape')

Shape       | count
rectangular | 3
round       | 3

In [6]:
chocolates.group('Shape', max)

Shape       | Color max | Inventory max | Unit Price ($) max
rectangular | white     | 12            | 2
round       | milk      | 7             | 1.75

In [7]:
chocolates.group(['Shape', 'Color'], max)

Shape       | Color | Inventory max | Unit Price ($) max
rectangular | milk  | 9             | 1.4
rectangular | white | 12            | 2
round       | dark  | 7             | 1.75
round       | milk  | 2             | 1

In [8]:
chocolates.pivot('Color',  'Shape','Unit Price ($)', max)

Shape       | dark | milk | white
rectangular | 0    | 1.4  | 2
round       | 1.75 | 1    | 0

In [11]:
chocolates.group(['Shape', 'Color'])

Shape       | Color | count
rectangular | milk  | 2
rectangular | white | 1
round       | dark  | 2
round       | milk  | 1

In [11]:
count=0
reps=10_000
die=np.arange(1,7)

for i in np.arange(reps):
    random_die_roll=np.random.choice(die)
    if random_die_roll >= 4:
        count += 1
prob_4_or_higher = count/reps
prob_4_or_higher

0.5065

In [20]:
pay = Table().with_columns('dept', make_array('Journalism', 'Economics', 'South & Southeast Asian Studies','Math', 'Math'),
                           'name', make_array('Jeremy', 'Christina', 'Penelope', 'Shawn', 'Charlie'),
                           'role', make_array('Lecturer', 'Professor', 'Associate Professor', 'Lecturer', 'Lecturer'),
                           'salary', make_array(115528,349727,127119,100110,135108))
pay

dept                            | name      | role                | salary
Journalism                      | Jeremy    | Lecturer            | 115528
Economics                       | Christina | Professor           | 349727
South & Southeast Asian Studies | Penelope  | Associate Professor | 127119
Math                            | Shawn     | Lecturer            | 100110
Math                            | Charlie   | Lecturer            | 135108

In [21]:
pay.where('role', 'Lecturer')

dept       | name    | role     | salary
Journalism | Jeremy  | Lecturer | 115528
Math       | Shawn   | Lecturer | 100110
Math       | Charlie | Lecturer | 135108

In [22]:
pay.where('role', 'Lecturer').group('dept')

dept       | count
Journalism | 1
Math       | 2

In [23]:
pay.where('role', 'Lecturer').group('dept').column('count')

array([1, 2])

In [24]:
max(pay.where('role', 'Lecturer').group('dept').column('count'))

np.int64(2)

In [25]:
students = Table().with_columns(
    "ID", [1, 2, 3],
    "Name", ["Alice", "Bob", "Cathy"]
)

grades = Table().with_columns(
    "ID", [1, 2, 4],
    "Grade", ["A", "B", "A+"]
)

In [26]:
students

ID   | Name
1    | Alice
2    | Bob
3    | Cathy

In [27]:
grades

ID   | Grade
1    | A
2    | B
4    | A+

In [29]:
students.join('ID',grades)

ID   | Name  | Grade
1    | Alice | A
2    | Bob   | B

In [31]:
grades.join('ID',students)

ID   | Grade | Name
1    | A     | Alice
2    | B     | Bob

In [3]:
arr = make_array(1,1,1,1,1,4,4,4,4,36,989,63)
len(arr)

12

In [7]:
np.count_nonzero(arr == 36)

np.int64(1)

In [8]:
np.sum(arr == 1)

np.int64(5)