In [3]:
from datascience import *
import numpy as np
import matplotlib
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

In [5]:
chocolates = Table().with_columns('Color', make_array('dark','milk','white','dark','milk','milk'),
                                  'Shape', make_array('round', 'rectangular','rectangular','round','rectangular','round'),
                                   'Inventory',make_array(4,6,12,7,9,2),
                                    'Unit Price ($)',make_array(1.3,1.2,2,1.75,1.4,1),
                                  )
chocolates

Color | Shape       | Inventory | Unit Price ($)
dark  | round       | 4         | 1.3
milk  | rectangular | 6         | 1.2
white | rectangular | 12        | 2
dark  | round       | 7         | 1.75
milk  | rectangular | 9         | 1.4
milk  | round       | 2         | 1

In [5]:
chocolates.group('Shape')

Shape       | count
rectangular | 3
round       | 3

In [6]:
chocolates.group('Shape', max)

Shape       | Color max | Inventory max | Unit Price ($) max
rectangular | white     | 12            | 2
round       | milk      | 7             | 1.75

In [7]:
chocolates.group(['Shape', 'Color'], max)

Shape       | Color | Inventory max | Unit Price ($) max
rectangular | milk  | 9             | 1.4
rectangular | white | 12            | 2
round       | dark  | 7             | 1.75
round       | milk  | 2             | 1

In [8]:
chocolates.pivot('Color',  'Shape','Unit Price ($)', max)

Shape       | dark | milk | white
rectangular | 0    | 1.4  | 2
round       | 1.75 | 1    | 0

In [11]:
chocolates.group(['Shape', 'Color'])

Shape       | Color | count
rectangular | milk  | 2
rectangular | white | 1
round       | dark  | 2
round       | milk  | 1

In [11]:
count=0
reps=10_000
die=np.arange(1,7)

for i in np.arange(reps):
    random_die_roll=np.random.choice(die)
    if random_die_roll >= 4:
        count += 1
prob_4_or_higher = count/reps
prob_4_or_higher

0.5065